<script>
  //Importing
  import { scaleLinear, scaleRadial } from "d3-scale";
  import{extent} from 'd3-array';
  import { radialArea } from "d3-shape";
  
  export let data=[];
  export let cit;
  export let cx;
  export let cy;
  
  data = data.filter(d => d.city == cit);
  let xScale = scaleLinear().domain([1,365]).range([0, 2 * Math.PI]);
  const hotScale = scaleRadial()
  .range([0, 50])
  .domain(extent(data, d => d.heating))
  const hotMap = radialArea()
   .angle(d => xScale(d.day_of_year))
   .innerRadius(0)
   .outerRadius(d => hotScale(d.heating))
  const coolScale = scaleRadial()
  .range([0, 50])
  .domain(extent(data, d => d.cooling))
  const coolMap = radialArea()
   .angle(d => xScale(d.day_of_year))
   .innerRadius(0)
   .outerRadius(d => coolScale(d.cooling))
  
  </script>
  
  
  <svg>
    <g transform="translate({cx},{cy})">
      <path class=hot d={hotMap(data)}/>
      <path class=cool d={coolMap(data)}/>
    </g>
  </svg>
  
  
    <style>
      .hot {
        fill: orangered;
        fill-opacity: 0.5;
      }
      .cool {
        fill: #87d3ef;
        fill-opacity: 0.5;
      }
    </style>



