<script>
    //Importing
    import {scaleLinear} from 'd3-scale';

    export let data=[];
    export let y_domain;
    export let week_num;

    //$: console.log(data['electricity'])

    const xScale = scaleLinear()
        .domain([0,168])
        .range([0,168]);
    
    let max_y = 200;
    const yScale = scaleLinear()
        .domain(y_domain)
        .range([0,100]);


    function path_generator(d,type,total_idx){
        let path = 'M 0,'+max_y/2;
        d.forEach((value,idx) => {
            if(type=='gas'){
                path += ' ' + xScale(idx) + ',' + (max_y/2+yScale(value));
            }
            else{
                path += ' ' + xScale(idx) + ',' + (max_y/2-yScale(value));
            }
        });
        path += ' '+ xScale(total_idx) +','+max_y/2+' 0,'+max_y/2;
        return path;
    }

</script>

<svg>
    
    
    <path d={path_generator(data['electricity'],'elec',data['electricity'].length)} 
        fill="royalblue" fill-opacity=0.5 stroke="royalblue" stroke-opacity=1/>
    <path d={path_generator(data['gas'],'gas',data['gas'].length)} 
        fill="darkorange" fill-opacity=0.5 stroke="darkorange" stroke-opacity=1/>
    <line x1={0} y1={max_y/2} x2={xScale(data['electricity'].length)} y2={max_y/2} stroke="black"/>
    {#if week_num % 2 == 0}
        <text font-size=12 text-anchor="start" x={-xScale(data['electricity'].length)-45} y={max_y/2+2}
            transform="scale(-1, 1)"> Week {week_num} </text>
    {:else}
        <text font-size=12 text-anchor="start" x={xScale(data['electricity'].length)+5} y={max_y/2+2}> Week {week_num} </text>
    {/if}
</svg>





