<script>
  //Importing
  import { json } from "d3-fetch";
  import { onMount } from "svelte";
  import Plot from "./_design_2_city.svelte";

    // Size and margins
    const width = 600;
    const height = 250;
    const margin = { top: 10, right: 10, bottom: 10, left: 10 };
    const innerWidth = width - margin.left - margin.right;
    const innerHeight = height - margin.top - margin.bottom;
    let data = null;
    onMount(async () => {
      data = await json("/data/daily_heating_cooling.json");
    })
  let cities = ["Chicago", "Baltimore", "Los Angeles"]
  
  </script>
  {#if !data}
    <p>Loading the data, please wait...</p>
  {:else}
  <svg {width} {height}>
    <g transform="translate({margin.left}, {margin.top})">
      {#each cities as cit, idx}
      <g transform="translate({idx*innerWidth/3},0)">
        <circle cx={innerWidth/6} cy={innerHeight/2} r=70 fill=none stroke=black/>
        <Plot data={data} cit={cit} cx={innerWidth/6} cy={innerHeight/2}/>
        <line x1={innerWidth/6-75} y1={innerHeight/2} x2={innerWidth/6+75} y2={innerHeight/2} stroke=black ></line>
        <line x1={innerWidth/6} y1={innerHeight/2-75} x2={innerWidth/6} y2={innerHeight/2+75} stroke=black ></line>
        <text x={innerWidth/6-3} y={innerHeight/2-80} class=numbers>0</text>
        <text x={innerWidth/6+80} y={innerHeight/2+3} class=numbers>3</text>
        <text x={innerWidth/6-3} y={innerHeight/2+87} class=numbers>6</text>
        <text x={innerWidth/6-85} y={innerHeight/2+3} class=numbers>9</text>
      </g>
      {/each}
      <text x={innerWidth/9+5} y={innerHeight/10-10}>Chicago</text>
      <text x={innerWidth/9+innerWidth/3} y={innerHeight/10-10}>Baltimore</text>
      <text x={innerWidth/9+2*innerWidth/3-9} y={innerHeight/10-10}>Los Angeles</text>
      <text x={innerWidth/4+15} y={innerHeight} class=title>Heating and cooling within a year.</text>
    </g>
  </svg>
  {/if}
  

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
  .numbers {
    font: 11px;
  }

</style>
