<script>
    const student = { name: 'Linze Wu'};
    const favourite = ['Raindrops on roses', 'Warm woolen mittens'];
</script>
<p>
     My name is {student.name} and these are some of my favourite things: {favourite[0]}, {favourite[1]}. 
</p>
