<script>
    let count = 0
    const width = 800;
    const height = 100;
    const margin = { top: 10, right: 20, bottom: 20, left: 20 };
    const innerWidth = width - margin.left - margin.right;
    const innerHeight = height - margin.top - margin.bottom;
</script>   




 <div class="d-flex justify-content-center">
    <button class="btn btn-primary" on:click={() => (count = count+1)}>
        Clicked {count} times
    </button>
    <button class="btn btn-danger" on:click={() => (count = 0)}>
        Reset
    </button>
</div>
