<script>
  //Importing
  import {scaleLinear} from 'd3-scale';
  import {scaleOrdinal} from 'd3-scale';
  import {schemeDark2}from 'd3-scale-chromatic';
  import {extent} from 'd3-array';

  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 20, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [
    { x: 2, y: 1, category: "cat1" },
    { x: 4, y: 2, category: "cat3" },
    { x: 6, y: 1, category: "cat2" },
    { x: 7, y: 3, category: "cat3" },
    { x: 9, y: 1, category: "cat2" }
  ];
  const scale_x=scaleLinear().domain([1,10]).range([0,innerWidth]);
  const scale_y=scaleLinear().domain([0,3]).range([innerHeight,0]);
  const classcolour = extent(values, (d) => d.category);
  const ordinal=scaleOrdinal().range(schemeDark2).domain(classcolour);
</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    <rect x="0" y={scale_y(0)} width="800" height="1" />
    {#each values as value}
     <circle cy={scale_y(+value.y)} cx={scale_x(+value.x)} r="5" style="fill: {ordinal(value.category)};"/>
     <rect x={scale_x(+value.x)-0.5} y={scale_y(+value.y)+5} width="1" height={innerHeight-scale_y(+value.y)-5} />
     <text class="valueLabel" x={scale_x(+value.x)} y={scale_y(+value.y)-10}>{value.y} </text> 
    {/each}
  </g>
</svg>

<style>
  text {
    text-anchor: middle;
    font-size: small;
  }
</style>
