<script>
  //Imoorting
  import {select} from "d3-selection";
  import {scaleLinear,scalePoint} from "d3-scale";
  import {axisBottom, axisLeft} from "d3-axis";
  import {scaleBand} from 'd3-scale';

  // Dimensions
  const width = 600;
  const height = 300;
  const margin = { top: 10, right: 10, bottom: 30, left: 60 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const data = [
    { service: "Netflix", viewers: 2.9 },
    { service: "Amazon Prime Video", viewers: 1.3 },
    { service: "Disney+", viewers: 2.1 },
    { service: "Hulu", viewers: 0.9 },
    { service: "Apple TV", viewers: 1.1 },
    { service: "Rakuten", viewers: 0.4 }
  ];

//Add x-axis and y-axis
let services = data.map(d => d.service);
let viewers = data.map(d => d.service);

const scale_y = scaleLinear().domain([0,3]).range([innerHeight,0]);

const scale_x = scaleBand().domain(services).range([0, innerWidth]).paddingInner(0);


function yAxis(x) {
  axisLeft(scale_y)(select(x))
}

function xAxis(x) {
  axisBottom(scale_x)(select(x));
}
</script>

<svg viewbox="0 0 {width} {height}" style="max-width: {width}px">
  <g transform={`translate(${margin.left},${margin.top})`}>
   
    {#each data as datapoint (datapoint.service)}
    <rect  x = "{scale_x(datapoint.service)}"  y = "{scale_y(datapoint.viewers)}" width = "{innerWidth / (services.length+2)}"
    height = "{innerHeight - scale_y(datapoint.viewers)}" fill = "steelblue"
    ></rect>
    {/each}
  </g>

  <g use:xAxis transform="translate(50,270)" ></g>
  <g use:yAxis transform="translate(50,10)" ></g>
  <text  x=0 y=0 transform=" translate(25,175) rotate(270)" fill="currentColor" style="font-size:0.75em;">Viewers (Million) </text>
</svg>





