<script>
	import Scatterplot from './_ex_7_scatterplot.svelte';
	  import { json } from 'd3-fetch';
	  import { onMount } from 'svelte';
	
	  let data = null;
	  let gapminder = null;
	  onMount(async () => {
		gapminder = await json('../data/gapminder.json');
		data = gapminder.find(d => d.year == '1800').countries
		console.log(data)
	  });
	
	</script>
	{#if data}
	  <Scatterplot data={data}/>
	{:else}
	  <p>Loading...</p>
	{/if}
	